/* color palette from <https://github.com/vuejs/theme> */
:root {
  --text-default: #333;
  --main: #530bd8;
  --alert: #db3232;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  color: var(--text-default);
  background: #cef0fd;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a:focus,
button:focus-visible {
  outline: none;
}
